.text {
  margin-bottom: 24px;
}

.text--center {
  text-align: center;
}

.addwrapper {
  display: flex;
  flex-direction: column;
}

.textarea {
  min-width: 50%;
  padding: 10px;
  font-size: 3rem;
  font-weight: 700;
  font-family: "Lato", sans-serif;

  &--centered {
    text-align: center;
  }
}

.savebutton {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}
